# ----------------------------------------------
# Pywal
# --------------------------------------------

~/.config/qtile/scripts/wallpaper.sh init
picom --config ~/.config/picom/picom.conf 2>/dev/null &